# VS Code
*.vscode

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archive files
*.tgz

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Ignore Vim helptags
doc/tags

# go work sum
*.sum

# log dir
logs/

node_modules/